/* Desktop version */

@media only screen and (min-width : 620px) {

/* Navbar signup buttons styling */
    .sign-up-mobile {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .sign-up-desktop {
        visibility: visible;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

/* Styling for the navbar */

    header {
        flex-wrap: no-wrap;
        height: 100%;
        width: 100%;
        display: flex;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        flex-wrap: no-wrap;
    }

    .brand-name {
        flex-basis: auto;
    }

    #nav-menu {
        visibility: visible;
        height: 100%;
        display: flex;
    }
    
    .nav-links {
        flex-direction: row;
        visibility: visible;
        height: 100%;
        flex-basis: auto;
        align-items: center;
    }
    
    .nav-links ul {
        flex-direction: row;
    }
    
    .nav-links ul li {
        font-weight: bold;
        flex-basis: auto;
    }

    .burger-wrapper {
        visibility: hidden;
        width: 0;
    }

    #navbar-btn-desktop {
        margin-right: 10px;
    }

/* Styling for main */

/* #main {
    display: flex;
    padding: 150px;
    align-items: center;
} */

    #main {
        padding: 100px;
    }

    #main .col {
        /* flex-basis: 50%; */
        max-width: 50%;
        margin: 0 auto;
        max-width: 570px;
    }

    /* Styling for features */
    .secondary {
        display: flex;
        flex-wrap: wrap;
    }

    .secondary col {
        max-width: 50%;
        flex-basis: 50%;
    }



}



@media only screen and (min-width : 910px) {

    /* Styling for features */
    .secondary {
        display: flex;
        flex-wrap: nowrap;
    }

    .secondary col {
        max-width: 200px;
        flex-basis: 50%;
    }
}