html, body {
    width: 100%;
    font-style: sans-serif;
    font-size: 24px;
    color: #38a37f;
    background-color: #f7f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Classes for JS */

.hidden {
    visibility: hidden;
    height: 0px;
    display: none;
}

.flex-display {
    display: flex;
}

.visible {
    visibility: visible;
    height: 100%;
}

.transition {
    transition: 1s;
    /* -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; */
}

.full-height {
    height: 100vh;
}

.no-height {
    height: 0px;
}


/* Styling for the header */

.brand-logo, 
.brand-name, 
.sign-up-mobile, 
.burger-wrapper, 
.nav-links, 
.sign-up-desktop {
    display: flex;
    align-items: center;
}

header {
    visibility: visible;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* padding-top: 5px; */
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.nav-links {
    /* display: none; */
    flex-direction: column;
    flex-basis: 100%;
    height: 0;
    font-weight:  bold;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    width: 100%;
}

.nav-links ul li {
    flex-basis: 100%;
    width: 100%;
    padding-left:0;
    padding: 10px 20px;
}

.nav-links ul li a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    /* transition: 0.3s; */
}

.nav-links ul li a:hover {
    color: #006400;
    /* transition: 0.3s; */
}

h1 {
    font-size: 24px;
    margin: 0px;
}

#header-img {
    /* height: 100%; */
    height: 50px;
    width: 50px;
    margin: 0 5px 0 0;
}

.brand-name {
    flex-grow: 1;
    /* display: flex;
    align-items: center; */
}

.burger-wrapper {
    text-align: right;
    margin: 0 0 0 5px;
    /* background-color: peru; */
}

#burger-btn {
    font-size: 48px;
    font-weight: bold;
    /* color: #38a37f;
    font-size: 32px;
    text-decoration: none;
    width: 100%; */
}

#burger-btn:hover {
    color: blue;
}

/* Sign-up buttons in navbar */

.sign-up-desktop {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;
}

.sign-up-mobile {
    visibility: visible;
}


/* Styling for main */

.container {
    min-width: 100%;
    margin: 0;
}

.primary {
    text-align: center;
    padding: 20px;
}

#main {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("imgs/tax-time.jpeg");
    background-attachment: fixed; /* No scroll */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 25px 50px 25px;
    text-align: center;
    color: #f7f7f7;
}

h2 {
    margin-top: 0;
}

#main p {
    margin: 30px 0;
}

#main .action-btn-lg {
    margin-top: 20px;
}

/* Styling for features */

.secondary .col {
    text-align: center;
    padding: 40px 20px;
    color: #6c757d;
    margin: 0 auto;
    max-width: 400px;
}

.features-icon {
    font-size: 48px;
}

.secondary h3 {
    margin: 10px 0;
}

/* Styling for video and final CTA */

.video-wrapper {
    text-align: center;
    /* width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative; */
}

#video {
    /* TODO: Video overflows from video-wrapper */
    max-width: 100%;
}
/* 
.primary p, .primary iframe {
    margin: 10px 0;
    position: absolute;
} */

.primary button {
    margin: 20px 0;
}

/* Signup button */

.action-btn {
    padding: 6px 12px;
    background-color: #38a37f;
    color: #f7f7f7;
    font-style: inherit;
    font-weight: inherit;
    font-size: 20px;
    border-radius: 10px;
    /* transition: 0.3s; */
    /* text-transform: uppercase; */
}

.action-btn:hover {
    background-color: #006400;
    /* transition: 0.3s; */
}

.action-btn-lg {
    font-size: 32px;
    margin-left: 0;
}



/* Styling for modal */
#signup-modal-container {
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    /* height: 100vh;
    width: 100vw; */
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}

#signup-modal-container .primary {
    padding-bottom: 0;
    margin-bottom: 0;
}

#signup-modal-container .secondary {
    padding-top: 0;
    margin-top: 0;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    margin-top: 5px;
}

.text-input {
    width: 100%;
    margin-top: 5px;
    padding: 2px 5px;
    font-size: 24px;
}

.align-left {
    text-align: left;
}

.submit {
    margin-top: 15px;
    max-width: 130px;
}

.close {
    background-color: #f7f7f7;
    color: #6c757d;
    font-size: 48px;
}

.close:hover {
    color: #292b2c;
    background-color: #f7f7f7;
    /* transition: 0.3s; */
}

/* Desktop version */

@media only screen and (min-width : 620px) {

    /* Navbar signup buttons styling */
        .sign-up-mobile {
            display: none;
            visibility: hidden;
            width: 0;
            height: 0;
        }
    
        .sign-up-desktop {
            visibility: visible;
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
    
    /* Styling for the navbar */
    
        header {
            flex-wrap: no-wrap;
            height: 100%;
            width: 100%;
            display: flex;
        }
        
        .navbar {
            display: flex;
            align-items: center;
            flex-wrap: no-wrap;
        }
    
        .brand-name {
            flex-basis: auto;
        }
    
        #nav-menu {
            /* visibility: visible; */
            height: 100%;
            display: flex;
        }
        
        .nav-links {
            flex-direction: row;
            /* visibility: visible; */
            height: 100%;
            flex-basis: auto;
            align-items: center;
        }
        
        .nav-links ul {
            flex-direction: row;
        }
        
        .nav-links ul li {
            font-weight: bold;
            flex-basis: auto;
        }
    
        .burger-wrapper {
            visibility: hidden;
            width: 0;
        }
    
        #navbar-btn-desktop {
            margin-right: 10px;
        }
    
    /* Styling for main */
    
    /* #main {
        display: flex;
        padding: 150px;
        align-items: center;
    } */
    
        #main {
            padding: 100px;
        }
    
        #main .col {
            /* flex-basis: 50%; */
            max-width: 50%;
            margin: 0 auto;
            max-width: 570px;
        }
    
        /* Styling for features */
        .secondary {
            display: flex;
            flex-wrap: wrap;
        }
    
        .secondary col {
            max-width: 50%;
            flex-basis: 50%;
        }
    
    
    
    }
    
    
    
    @media only screen and (min-width : 910px) {
    
        /* Styling for features */
        .secondary {
            display: flex;
            flex-wrap: nowrap;
        }
    
        .secondary col {
            max-width: 200px;
            flex-basis: 50%;
        }
    }